[submodule "dep/LuaBridge"]
	path = dep/LuaBridge
	url = https://github.com/albertclass/LuaBridge.git
[submodule "dep/luajit"]
	path = dep/luajit
	url = https://github.com/luaJIT/luaJIT.git
[submodule "dep/asio"]
	path = dep/asio
	url = https://github.com/albertclass/asio.git
[submodule "dep/PDCurses"]
	path = dep/PDCurses
	url = git@github.com:albertclass/PDCurses.git
