# ignore some directory

/premake5.exe
/bin/Debug/*
/bin/Release/*
!/bin/{Debug,Release}/libmysql.dll
!/bin/{Debug,Release}/dbghelp.dll
!/bin/{Debug,Release}/*.manifest
!/bin/{Debug,Release}/*.ini
/lib
/prj
/obj
/bin/client_files/
/bin/server_files/

*.swp
*.swo
