# ignore some directory

/premake5.exe
/bin/Debug/*
/bin/Release/*
!/bin/Debug/libmysql.dll
!/bin/Debug/dbghelp.dll
!/bin/Debug/*.manifest
!/bin/Debug/*.ini
!/bin/Release/libmysql.dll
!/bin/Release/dbghelp.dll
/lib
/prj
/obj
/bin/client_files/
/bin/server_files/
/tags
*.swp
*.swo
*.docx
*.pb.h
*.pb.cc
__pycache__
logs/